.container {
    width: 35%;
    margin: 0 auto;
    border: 1px solid;
    display: grid;
    grid-template-rows: 100px 150px 100px;
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: 
    'first second'
    'third fourth'
    'fifth fifth'
}

.item {
padding: 0.5em;
border: 2px solid #FF8DA1;
display: flex;
justify-content: center;
align-items: center;
}

.item-1{
    grid-area: first;
}

.item-2{
    grid-area: second;
}

.item-3{
    grid-area: third;
}

.item-4{
    grid-area: fourth;
}

.item-5{
    grid-area: fifth;
}
